@using Web.Models;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList < Person >

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
	<table class="table">
		<thead>
			<tr>
				<td>@Html.DisplayNameFor(model => model.First().FirstName)</td>
				<td>@Html.DisplayNameFor(model => model.First().LastName)</td>
				<td>@Html.DisplayNameFor(model => model.First().BirthDate)</td>
				<td>View</td>
				<td>Edit</td>
				<td>Delete</td>
			</tr>
		</thead>
		<tbody>
		@foreach(Person p in @Model)
		{
			
			<tr>
				<td>@p.FirstName</td>
				<td>@p.LastName</td>
				<td>@p.BirthDate</td>
				<td>
					<a href=@Url.Action("Details", "Person", new { Id = p.Id }) >
	    				<button class = "btn btn-sm btn-info">view</button>
					</a>
				</td>
				<td></td>
				<td></td>
			</tr>
		}
			
		</tbody>
	</table>
	@Html.PagedListPager( Model , page => Url.Action("Index", new { page }))
	@Html.ActionLink("Create New", "Create", "Person", null, new { @class = "btn btn-sm btn-success"})
</div>

<script>

function setActiveTab()
{
	$("#navbar li").removeClass("active");
	$("#person").addClass("active");
}

</script>
